<section class="p-3" id="categories">
  <div class="container-md">
    <!-- item section start ...............................................-->
    <div class="row text-center g-4 mb-4 non-st catergories">
      <div class="col-4">
        <div class="card service-cards text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-heart-fill text-danger"></i>
            </div>
            <h3 class="card-title mb-3 catergories-title">life</h3>
            <a href="categories/in-life.php" class="btn btn-outline-danger catergories-btn"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card service-cards text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-bag-fill text-warning"></i>
            </div>
            <h3 class="card-title mb-3 catergories-title">store</h3>
            <a href="categories/in-store.php" class="btn btn-outline-warning catergories-btn"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card service-cards text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-map-fill text-primary"></i>
            </div>
            <h3 class="card-title mb-3 catergories-title">world</h3>
            <a href="categories/in-world.php" class="btn btn-outline-primary catergories-btn"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- item section end .................................................-->
    <!-- item section start ...............................................-->
    <div class="row text-center g-4 non-st downboxes">
      <!-- section -->
      <div class="col-4">
        <div class="card service-cards text-light">
          <div class="card-body text-center">
            <!-- slider -->
            <section
              id="myCarousel"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- end slider -->
          </div>
        </div>
      </div>
      <!-- section end -->
      <!-- section -->
      <div class="col-4">
        <div class="card service-cards text-light">
          <div class="card-body text-center">
            <!-- slider -->
            <section
              id="myCarousel"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- end slider -->
          </div>
        </div>
      </div>
      <!-- section end -->
      <!-- section -->
      <div class="col-4">
        <div class="card service-cards text-light">
          <div class="card-body text-center">
            <!-- slider -->
            <section
              id="myCarousel"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container-lg">
                    <h6 class="fw-bold box-title">test title</h6>
                    <p class="lead box-para">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque excepturi eum aperiam voluptatibus
                    </p>
                    <a
                      href="/pages/default.php"
                      class="btn btn-sm btn-block btn-alpha px-sm-5"
                    >
                      Open
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- end slider -->
          </div>
        </div>
      </div>
      <!-- section end -->
    </div>
    <!-- item section end .................................................-->
  </div>
</section>