<footer class="py-xs-4 pt-2 text-white mt-4">
  <section class="container-xl">
    <!-- up section of footer -->
    <div class="row g-4 footer-up pb-sm-5">
      <div class="col-sm-6">
        <div class="footer-form">
          <form action="mailto:name@example.com" method="post">
            <input
              type="email"
              class="footer-form_field"
              placeholder="Your E-Mail Address"
            />
            <input type="submit" value="Send" class="fbtn" />
          </form>
        </div>
        <div class="social-buttons">
          <a
            href="../pages/coming-soon.php"
            class="social-button social-button--facebook"
            title="Facebook"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="../pages/coming-soon.php"
            class="social-button social-button--linkedin"
            title="LinkedIn"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a
            href="../pages/coming-soon.php"
            class="social-button social-button--github"
            title="GitHub"
          >
            <i class="fab fa-github"></i> </a
          ><a
            href="../pages/coming-soon.php"
            class="social-button social-button--twitter"
            title="Twitter"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 row footer-3angle">
        <div class="col-12 footer-3angle-up threeAngle">
          <div id="footer-coffee" class="footer-3angle-sec">
            <h5>Buy a Coffee</h5>
            <a href="#" class="footer-btn"
              ><i class="fa-solid fa-mug-hot"></i
            ></a>
          </div>
        </div>
        <div id="footer-calling" class="col-6 footer-3angle-sec threeAngle">
          <h5>Calling Us</h5>
          <a href="#" class="footer-btn"><i class="fa-solid fa-phone"></i></a>
        </div>
        <div id="footer-comment" class="col-6 footer-3angle-sec threeAngle">
          <h5>Frequently Quiz</h5>
          <a href="#" class="footer-btn"><i class="fa-solid fa-comment"></i></a>
        </div>
      </div>
    </div>
    <!-- bottom section of footer -->
    <div class="row g4 footer-bottom">
      <div class="col-md-5 col-sm-7 col-xs-12 text-light">
        <h6>About Best10</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quo
          odit illum distinctio atque, cum praesentium debitis sequi.
        </p>
      </div>
      <hr>
      <div class="col-md-3 col-sm-5 col-xs-5 mb-2">
        <div class="quick-access">
          <h6>Quick Access</h6>
          <ul>
            <il><a href="#" class="footer-bottom-link">Blog</a></il>
            <il><a href="#" class="footer-bottom-link">Terms</a></il>
            <il><a href="#" class="footer-bottom-link">Privacy Policy</a></il>
            <il><a href="#" class="footer-bottom-link">Support</a></il>
          </ul>
        </div>
      </div>
      <hr>
      <div class="col-md-4 col-sm-12 col-xs-7 mb-2">
        <a href="#" class="footer-btn"><i class="fa-solid fa-code"></i></a>
        <br />
        <p>Copyright &copy; 2023 Qmars Development. EMPIRE Company</p>
      </div>
    </div>
  </section>
</footer>
