<body id="home-body">
  <nav class="navbar navbar-expand-sm qnav fixed-top" id="qnavbar">
    <div class="container-lg">
      <div class="qnav-logo navbar-brand font-yellowtail">
        <a href="#">Best 10</a>
      </div>
      <!-- standard navbar menu -->
      <ul class="navbar-nav qnav-list">
        <li>
          <a href="../index.php" class="qnav-item" title="HOME"
            ><i class="fa-solid fa-house"></i
          ></a>
        </li>
        <li>
          <a href="../pages/" class="qnav-item" title="CATEGORIES"
            ><i class="fa-solid fa-boxes-stacked"></i
          ></a>
        </li>
        <li>
          <a href="../pages/about-us.php" class="qnav-item" title="ABOUTus"
            ><i class="fa-solid fa-bed"></i
          ></a>
        </li>
        <li>
          <a href="../pages/contacts.php" class="qnav-item" title="CONTACTus"
            ><i class="fa-solid fa-phone"></i
          ></a>
        </li>
      </ul>

      <!-- dropdown navbar menu -->
      <div class="qnav-list-drop" id="drop-menu">
        <div class="qnav-list-drop-cell">
          <a href="../index.php" class="qnav-item"
            ><i class="fa-solid fa-house"></i
          ></a>
        </div>
        <div class="qnav-list-drop-cell">
          <a href="../pages/" class="qnav-item"
            ><i class="fa-solid fa-boxes-stacked"></i
          ></a>
        </div>
        <div class="qnav-list-drop-cell">
          <a href="../pages/about-us.php" class="qnav-item"
            ><i class="fa-solid fa-bed"></i
          ></a>
        </div>
        <div class="qnav-list-drop-cell">
          <a href="../pages/contacts.php" class="qnav-item"
            ><i class="fa-solid fa-phone"></i
          ></a>
        </div>
        <div class="earnbtn-container">
          <a
            href="../pages/work-with-us.php"
            target="_blank"
            class="btn btn-alpha earnbtn-btn flex-s"
          >
            <span>Earn!</span>
          </a>
        </div>
      </div>

      <div class="earnbtn d-flex flex-end">
        <a
          href="../pages/work-with-us.php"
          target="_blank"
          class="btn btn-alpha earnbtn-btn"
        >
          <span>Earn Money! </span>
        </a>
      </div>
      <div class="qnav-hamburger" id="hamburger-menu">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </nav>
  <!-- back to top button -->
  <a href="#" class="backtotop">
    <i class="fa-solid fa-up-long"></i>
  </a>
</body>