

<section class="p-4 text-center " id="overview">
  <h2 class="text-light ">OVerview</h2>
  <div>
    <!-- Gallery -->
    <div class="overview row">
      <div class="zone-1">
        Lorem ipsum dolor sit amet quisquam.
      </div>
      <div class="zone-2">
        Lorem ipsum dolor sit amet quisquam.
      </div>
      <div class="zone-3">
        Lorem ipsum dolor sit amet quisquam.
      </div>
      <div class="zone-4">
        Lorem ipsum dolor sit amet quisquam.
      </div>
      <div class="zone-5">
        Lorem ipsum dolor sit amet quisquam.
      </div>
      <div class="zone-6">
        Lorem ipsum dolor sit amet quisquam.
      </div>
      <div class="zone-7">
        Lorem ipsum dolor sit amet quisquam.
      </div>
      <div class="zone-8">
        Lorem ipsum dolor sit amet quisquam.
      </div>
      <div class="zone-9">
        Lorem ipsum dolor sit amet quisquam.
      </div>
    </div>
    
    <!-- Gallery -->
  </div>
</section>
