
<section class="p-4 text-center " id="overview">
  <h1 class="text-light ">OVerview</h1>
  <div class="container-lg">
    <!-- Gallery -->
    <div class="row">
      <!-- left column -->
      <div class="col-4 mb-4">
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../components/default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Boat on Calm Water"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Boat on Calm Water"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Boat on Calm Water"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Boat on Calm Water"
          />
        </div>
      </div>
      <!-- middle column -->
      <div class="col-4 mb-4">
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Mountains in the Clouds"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Boat on Calm Water"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Mountains in the Clouds"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Boat on Calm Water"
          />
        </div>
      </div>
      <!-- right column -->
      <div class="col-4 mb-4">
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Waves at Sea"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Yosemite National Park"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Waves at Sea"
          />
        </div>
        <div class="post-overlay-target">
          <article class="post-overlay-advance position-absolute text-white">
            10 Most popular cities for summer trip
          </article>
          <div class="post-overlay">
            <p class="w-75 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis, aperiam deserunt recusandae iste sapiente totam dicta accusantium.
            </p>
            <a href="../default.php" class="btn btn-alpha"
              >Read Full Content</a
            >
          </div>
          <img
            loading="lazy"
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
            class="w-100 shadow-1-strong rounded mt-4"
            alt="Yosemite National Park"
          />
        </div>
      </div>
    </div>
    <!-- Gallery -->
  </div>
</section>
