<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- MDB references -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
    rel="stylesheet"
  />
  <!-- Latest compiled and minified CSS -->

  <!-- bootstrap references -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    integrity="sha384-xcsgvBpxY+vl8pJk1HfB13tN5jW47/G8n9Jl5gyzdH23/z35zjCtJKBkS+1RkFOE"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  />

  <link rel="stylesheet" href="../../css/main.css" />
  <title>BEST10</title>
</head>
