<aside class="col-md-3 row text-white qsidebar-def">
  <div class="service-cards text-center col-md-12 col-12">
    <ul class="list-unstyled my-2">
      <li>
        <a href="../categories/in-life.php" class="btn btn-outline-danger w-90"
          >in life</a
        >
      </li>
      <li>
        <a
          href="../categories/in-store.php"
          class="btn btn-outline-warning w-90"
          >in store</a
        >
      </li>
      <li>
        <a
          href="../categories/in-world.php"
          class="btn btn-outline-primary w-90"
          >in world</a
        >
      </li>
      <li><hr /></li>
      <li><a href="#" class="btn btn-outline-danger w-90">psychology</a></li>
      <li><a href="#" class="btn btn-outline-danger w-90">psychology</a></li>
      <li><a href="#" class="btn btn-outline-danger w-90">psychology</a></li>
      <li><a href="#" class="btn btn-outline-danger w-90">psychology</a></li>
      <li><a href="#" class="btn btn-outline-danger w-90">psychology</a></li>
      <li><a href="#" class="btn btn-outline-danger w-90">psychology</a></li>
    </ul>
  </div>
  <div class="service-cards col-md-12 col-6">
    <h5 class="text-center">you <span class="text-warning">have</span> too see:</h5>
    <ul class="list-unstyled my-2">
      <li>
        <article class="fullcard pb-1">
          <a href="#" class="fullcard-img">
            <img src="../img/bg-showcase-def.jpg" alt="test title" />
          </a>
          <div class="fullcard-mask">
            <h4>10 Lil Exercise 2</h4>
          </div>
        </article>
      </li>
      <li>
        <article class="fullcard pb-1">
          <a href="#" class="fullcard-img">
            <img src="../img/bg-showcase-def.jpg" alt="test title" />
          </a>
          <div class="fullcard-mask">
            <h4>10 Lil Exercise 2</h4>
          </div>
        </article>
      </li>
      <li>
        <article class="fullcard pb-1">
          <a href="#" class="fullcard-img">
            <img src="../img/bg-showcase-def.jpg" alt="test title" />
          </a>
          <div class="fullcard-mask">
            <h4>10 Lil Exercise 2</h4>
          </div>
        </article>
      </li>
      <li>
        <article class="fullcard pb-1">
          <a href="#" class="fullcard-img">
            <img src="../img/bg-showcase-def.jpg" alt="test title" />
          </a>
          <div class="fullcard-mask">
            <h4>10 Lil Exercise 2</h4>
          </div>
        </article>
      </li>
    </ul>
  </div>
  <div class="service-cards col-md-12 col-6">
    <h5 class="text-center">
      you <span class="text-warning">have</span> too read:
    </h5>
    <ul class="list-unstyled my-4">
      <li class="m-2">
        <a href="#" class="link-just">Title Just for fill empys .....</a>
      </li>
      <li class="m-2">
        <a href="#" class="link-just">Test title only for fill empys .....</a>
      </li>
      <li class="m-2">
        <a href="#" class="link-just">Test text Just for fill empys .....</a>
      </li>
      <li class="m-2">
        <a href="#" class="link-just">Test Just for fill empys .....</a>
      </li>
      <li class="m-2">
        <a href="#" class="link-just">Title Just for fill empys .....</a>
      </li>
      <li class="m-2">
        <a href="#" class="link-just">Test title only for fill empys .....</a>
      </li>
      <li class="m-2">
        <a href="#" class="link-just">Test text Just for fill empys .....</a>
      </li>
      <li class="m-2">
        <a href="#" class="link-just">Test Just for fill empys .....</a>
      </li>
    </ul>
  </div>
</aside>
